<!DOCTYPE html>
<html lang="en">
<%- include('components/header'); -%>
<body class="relative bg-federal-blue-light hover:cursor-default">
    <div class="h-fit font-sans text-gray-900 antialiased">
        <div class="md:h-screen pb-40 md:pb-0">
            <header class="mt-6">
                <div class="pl-4 mx-auto max-w-7xl sm:pl-6 lg:pl-8 w-screen">
                    <!-- lg+ -->
                    <nav class="flex items-center justify-between h-20 lg:h-28">
                        <div class="flex-shrink-0 lg:h-full">
                            <a href="#" title="" class="flex h-full">
                                <%- include('components/logo'); -%> 
                            </a>
                        </div>
            
                        <button id="hamburger" type="button" class="inline-flex p-2 text-white transition-all duration-200 rounded-md md:hidden focus:bg-gray-800 hover:bg-gray-800">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                            </svg>
                        </button>
            
                        <div class="hidden md:flex md:items-center md:space-x-10 bg-federal-blue h-16 lg:h-20 px-4 sm:px-6 lg:px-8 rounded-l-3xl border-2 border-pale-purple border-r-0">
                            <a href="/" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> Home </a>
                       
                            <a href="/docs" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> Doc </a>
            
                            <a href="/bit-convert-pro" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">Converter</a>
            
                            <% if(loggedIn) {%>
                                <a href="#" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70 py-1 border-b border-pale-purple">History</a>
                                <a href="/logout" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">Logout</a>
                                <a href="/delete/user/<%= current_user._id %>" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">Delete User</a>
                                <p title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"><%= current_user.fullname %> : <%= current_user.email %></p>
                
                            <% } %>
                            <% if(!loggedIn) {%>
                                <a href="/login" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> Login</a>
                                <a href="/signup" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> SignUp </a>
                            <% } %>
                        </div>
                    </nav>
            
                    <!-- xs to lg -->
                    <nav id="mobile-nav" class="h-fit px-4 py-10 w-full text-center bg-black bg-opacity-80 absolute z-50 hidden -ml-4 -top-6">
                        <button id="close" type="button" class="inline-flex p-2 text-white transition-all duration-200 rounded-md focus:bg-gray-800 hover:bg-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
            
                        <nav class="flex flex-col items-center mt-10 space-y-2">
                            <a href="/" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> Home </a>
            
                                        
                            <a href="#" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> Doc </a>
            
                            <a href="/bit-convert-pro" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> Converter </a>
            
                            <% if(loggedIn) {%>
                                <a href="#" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70 py-1 border-b border-pale-purple">History</a>
                                <a href="/logout" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">Logout</a>
                                <a href="/delete/user/<%= current_user._id %>" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">Delete User</a>
                                <p title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"><%= current_user.fullname %> : <%= current_user.email %></p>
                
                            <% } %>
                            <% if(!loggedIn) {%>
                                <a href="/login" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> Login</a>
                                <a href="/signup" title="" class="text-sm font-medium text-pale-purple transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70"> SignUp </a>
                            <% } %>
                        </nav>
                    </nav>
                </div>
            </header>
            

            <div class="absolute bottom-1/3 left-8 animate-pulse z-20">
                <svg width="101" height="192" viewBox="0 0 101 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.6471 8.84211L13.3684 0L16.6165 8.84211L24.7368 12L16.6165 14.3459L13.3684 24L10.6471 14.3459L2 12L10.6471 8.84211Z" fill="white" fill-opacity="0.78"/>
                    <path d="M86.6471 79.8421L89.3684 71L92.6165 79.8421L100.737 83L92.6165 85.3459L89.3684 95L86.6471 85.3459L78 83L86.6471 79.8421Z" fill="white" fill-opacity="0.78"/>
                    <path d="M8.64706 176.842L11.3684 168L14.6165 176.842L22.7368 180L14.6165 182.346L11.3684 192L8.64706 182.346L0 180L8.64706 176.842Z" fill="white" fill-opacity="0.78"/>
                </svg>
            </div>

            <div class="absolute top-1/4 right-8 animate-pulse z-20">
                <svg width="108" height="143" viewBox="0 0 108 143" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50.6471 8.84211L53.3684 0L56.6165 8.84211L64.7368 12L56.6165 14.3459L53.3684 24L50.6471 14.3459L42 12L50.6471 8.84211Z" fill="#FFEEF2" fill-opacity="0.78"/>
                    <path d="M93.6471 91.8421L96.3684 83L99.6165 91.8421L107.737 95L99.6165 97.3459L96.3684 107L93.6471 97.3459L85 95L93.6471 91.8421Z" fill="#FFEEF2" fill-opacity="0.78"/>
                    <path d="M8.64706 127.842L11.3684 119L14.6165 127.842L22.7368 131L14.6165 133.346L11.3684 143L8.64706 133.346L0 131L8.64706 127.842Z" fill="#FFEEF2" fill-opacity="0.78"/>
                </svg>
                    
            </div>


            <div class="absolute bottom-8 right-8 animate-pulse delay-100 z-20">
                <svg width="107" height="113" viewBox="0 0 107 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M92.6471 8.84211L95.3684 0L98.6165 8.84211L106.737 12L98.6165 14.3459L95.3684 24L92.6471 14.3459L84 12L92.6471 8.84211Z" fill="#FFEEF2" fill-opacity="0.78"/>
                    <path d="M8.64706 97.8421L11.3684 89L14.6165 97.8421L22.7368 101L14.6165 103.346L11.3684 113L8.64706 103.346L0 101L8.64706 97.8421Z" fill="#FFEEF2" fill-opacity="0.78"/>
                    <path d="M92.6471 97.8421L95.3684 89L98.6165 97.8421L106.737 101L98.6165 103.346L95.3684 113L92.6471 103.346L84 101L92.6471 97.8421Z" fill="#FFEEF2" fill-opacity="0.78"/>
                </svg>
            </div>

            <!-- History -->
            <div class="relative w-[90%] mx-auto lg:w-full h-fit flex items-center justify-center mt-2 md:mt-10 z-40">
                <% if(successMessage != null && successMessage.length > 0) { %>
                    <div id="vanish" class="absolute top-8 right-4 bg-green-200 text-green-800 w-80 h-fit rounded p-4"><%= successMessage %></div>
                <% } %>

                <div class="bg-pale-purple w-[32rem] md:w-fit h-fit rounded-2xl shadow-2xl p-4 mb-10 flex flex-col justify-center">
                    <% if(histories.length != 0) { %>
                        <% for (var i = histories.length - 1; i >= 0; i--) { %>
                            <div class="w-full p-2  border-b border-zaffre">
                                <p class="font-semibold max-w-[20rem] overflow-auto md:max-w-fit mb-2"><%= histories[i].binary %> </p>
                                <div class="flex items-center justify-between">
                                    <p class="mr-8"><%= histories[i].conversion %> </p>
                                    <p class="text-sm mr-8"><%= histories[i].datePosted.toDateString() %>, <%= histories[i].datePosted.toLocaleTimeString() %></p>
                                    <a href="/delete/<%= histories[i]._id %>" class="px-4 py-2 bg-red-300 hover:bg-red-600 rounded text-white">X</a>
                                </div>
                            </div>
                        <% } %>    
                    <% }  else { %>
                        <p>History is empty</p>
                    <% } %>  
                </div>
            </div>

        </div>
    </div>

    <script src="/scripts/popup.js"></script>
    <script src="/scripts/responsive.js"></script>
    <script src="/scripts/conversions.js"></script>
</body>
</html>