<!DOCTYPE html>
<html lang="en">
<%- include('components/header'); -%>
<body>
    <div class="font-sans text-gray-900 antialiased">
        <div class="min-h-screen h-screen flex items-center bg-gray-50">
            <div class="md:w-1/4 w-1/5 h-full bg-federal-blue md:mr-10">
            </div>
            <div class="relative md:w-3/4 w-4/5 sm:max-w-md mt-6 px-6 py-4 sm:rounded-lg">

                <% if (validationErrors && validationErrors.length > 0) { %>
                    <div class="absolute -top-28">
                        <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div>
                              <span class="font-medium">Oops!</span>
                                <ul class="mt-1.5 list-disc list-inside">
                                    <% for (let each of validationErrors) { %>
                                    <li><%= each %></li>
                                    <% }%>
                              </ul>
                            </div>
                          </div>
                    </div>
                <% } %>
                <form method="POST" action="/auth.signup">
        
                    <div>
                        <label class="block font-medium text-sm text-gray-700" for="fullname">Fullname</label>
                        <input id="fullname" name="fullname" class="px-4 border border-gray-300 rounded-md shadow-sm block mt-1 h-14 w-full focus:border-space-light focus:border-[0.1rem] focus:ring-0 focus:outline-none" type="text" placeholder="fullname" value="<%= fullname %>" required autofocus autocomplete="name" />
                    </div>
        
                    <div class="mt-4">
                       <label class="block font-medium text-sm text-gray-700" for="email">Email</label>
                        <input id="email" name="email" class="px-4 border border-gray-300 rounded-md shadow-sm block mt-1 h-14 w-full focus:border-space-light focus:border-[0.1rem] focus:ring-0 focus:outline-none" type="email" placeholder="email" value="<%= email %>" required autocomplete="email" />
                    </div>
        
                    <div class="mt-4">
                        <label for="password" class="block font-medium text-sm text-gray-700">Password</label>
                        <input id="password" class="px-4 border border-gray-300 rounded-md shadow-sm block mt-1 h-14 w-full focus:border-space-light focus:border-[0.1rem] focus:ring-0 focus:outline-none" type="password" name="password" placeholder="***********" value="<%= password %>" required autocomplete="new-password" />
                    </div>
        
                    <!-- <div class="mt-4">
                        <label for="password_confirmation" class="block font-medium text-sm text-gray-700">Confirm Password</label>
                        <input id="password_confirmation" class="px-4 border border-gray-300 rounded-md shadow-sm block mt-1 h-14 w-full focus:border-space-light focus:border-[0.1rem] focus:ring-0 focus:outline-none" type="password" name="password_confirmation" placeholder="***********" required autocomplete="new-password" />
                    </div> -->
        
                    <div class="flex items-center justify-end mt-6">
                        <a class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="/login">
                            Already registered?
                        </a>
        
                        <button type="submit" class="ml-4 bg-space-light text-white inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-zaffre focus:bg-zaffre hover:text-lavender-blush active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">
                            Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>